

.section .newsletter-input{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.section .newsletter-subheader{
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    color: #323233;

    text-align: center;
}

.newsletter-subheader__orange{
    color: var(--secondary-color);
}

.newsletter-input__container{
    display: flex;
    flex-direction: column;

    row-gap: 30px;
}

.section.newsletter{
    max-width: 900px;
}

.newsletter .section-header{
    row-gap: 7px;
}

.section.newsletter .section-header p{
    font-size: 24px;
    font-weight: 400;
}

.newsletter-text__small{
    font-size: 12px;
}

@media (max-width: 768px) {
    .section .newsletter-subheader{
        font-size: 36px;
    }
    .section .newsletter-input{
        row-gap: 12px;
    }
    .section.newsletter .section-header p{
        font-size: 20px;
        font-weight: 400;
    }

    .newsletter-input__container{
        row-gap: 12px;
    }

    .newsletter-text__small{
        font-size: 10px;
    }

}