<html>
<head>
  <title>Email Verification</title>
  <style>
    section {
      margin: 16px
    }
  </style>
</head>
<body>
  <h1>Hello <%= @user.first_name %>,</h1>
  <section class='email-section'><p>Thank you for signing up to Scholaris!</p></section>
  <section class='email-section'>
    <p>To complete your registration, please verify your email address by clicking the link below:</p>
    <p><a href="https://scholaristest.sence1.com/verify-email/<%= @user.verification_token %>">Verify Link</a></p>
  </section>
  <section class='email-section'>
    <p>We are committed to connecting scholarship providers with students effectively and reducing administrative burdens for providers, making the process more efficient. As our service is still in its early stages, we would greatly appreciate your feedback to help us improve. Please reply to this email with your thoughts.</p>
  </section>
  <section class='email-section'> 
    <p>Thank you!</p>
  </section>
  <section class='email-section'>
    <p>Best regards,<br/>Scholaris team</p>
    <p></p>
  </section>

  <hr>

  <section>
    <p>For any issues, please contact us at scholaris-support@sence1.com.</p>
  </section>

  <section class="email-footer-section">
    <p>Visit our website: <a href="https://scholaristest.sence1.com">https://scholaristest.sence1.com</a></p>
  </section>

  <section class="email-footer-section">
    <p><i>To stay updated with the latest features, subscribe to our newsletter! <a href="https://scholaristest.sence1.com/provider">Subscribe</a></i></p>
  </section>

</body>
</html>