.section__welcome {
  background: url('../../public/images/banner-bg.png') center no-repeat;
  background-size: cover;
  height: max-content;
  padding: 150px 0;
}

.section__welcome .container {
  padding-top: 0;
  padding-bottom: 0;
}

.section__welcome h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    margin-bottom: 40px;
}

.section__welcome h3 {
    max-width: 800px;
    margin: 0 auto ;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    line-height: 1.3;
}

.section__welcome h4 {
    max-width: 800px;
    margin: 40px auto 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    line-height: 1.3;
}

.section__buttons {
    margin-top: 154px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
  .section__welcome {
    height: fit-content;
    padding: 100px 20px;
  }

  .section__welcome h2 {
    font-size: 2rem;
  }
  
  .section__welcome h3 {
    font-size: 1.25rem;
    margin: 0 auto 70px;
  }
}