<h1>Editing scholarship provider</h1>

<%= render "form", scholarship_provider: @scholarship_provider %>

<br>

<div>
  <%= link_to "Show this scholarship provider", @scholarship_provider %> |
  <%= link_to "Back to scholarship providers", scholarship_providers_path %>
</div>
