.featureGuides {
    background: var(--tertiary-color);
    padding-top: 120px;
    padding-bottom: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .featureGuides .container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  
  .featureGuides__feature {
    display: flex;
    justify-content: space-between;
  }
  
  .featureGuides__feature-img {
    max-width: 34%;
  }
  
  .featureGuides__feature-text {
    max-width: 535px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  .featureGuides__feature-desc {
    color: #191919;
    font-family: var(--content-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  @media screen and (max-width: 1024px) {
    .featureGuides {
      padding-left: 50px;
      padding-right: 50px;
    }
    .featureGuides__feature {
      flex-direction: column-reverse;
      align-items: center;
    }
    .featureGuides__feature-img {
      margin-bottom: 40px;
      max-width: 370px;
      width: 100%;
    }
    .featureGuides__feature-desc {
      text-align: justify;
    }
  }
  
  @media screen and (max-width: 390px) {
    .featureGuides {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }