.dropdown {
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #002147;
}

.dropdown .dropdown-header {
  cursor: pointer;
  display: flex;
  column-gap: 15px;
  padding: 10px 15px;
  border: 2px solid #002147;
  border-radius: 16px;
}

.dropdown .dropdown-reset {
  color: #fff;
  background-color: #002147;
  transition: background-color 0.13s linear;
}

.dropdown .dropdown-reset:hover {
  color: #fff;
  background-color: rgba(0, 33, 71, 0.88);
  border-color: rgba(0, 33, 71, 0.2);
  transition: all 0.13s linear;
}

.dropdown-options::-webkit-scrollbar {
  width: 5px;
}

.dropdown-options::-webkit-scrollbar-track {
  margin: 15px;
}

.dropdown-options::-webkit-scrollbar-thumb {
  background-color: #002147;
  border-radius: 16px;
  margin-right: 2px;
}

.dropdown-options {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 2;
  background-color: var(--white);
  border: 2px solid #002147;
  border-radius: 16px;
  padding: 15px 25px;

  display: flex;
  flex-direction: column;
  row-gap: 13px;

  max-height: 210px;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-padding: 10px 5px;
}

.dropdown-options input {
  outline: #002147;
}

.dropdown-option:hover {
  cursor: pointer;
  font-weight: 600;
  transition: font-weight 0.1s ease-in-out;
}

.dropdown-header img {
  transition: all 0.4s ease;
}

.rotateArrow {
  transform: rotate(180deg);
  transition: all 0.4s ease;
}

.rdrCalendarWrapper {
  position: absolute;
  top: calc(100% + 10px);
  z-index: 99;
  border: 2px solid #002147;
  border-radius: 16px;
}

.rdrDateDisplayItem {
  border-color: #002147;
}

.rdrDateDisplayWrapper {
  display: none !important;
}

@media (max-width: 786px) {
  .rdrCalendarWrapper {
    left: -75%;
  }

  .dropdown-header {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .dropdown-header {
    font-size: 17px;
  }
}
