#footer {
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
}

#footer ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

#footer ul li a {
    font-family: 'Outfit', 'sans-serif';
    color: var(--white);
    text-decoration: none;
}

#footer ul li a:hover {
    color: var(--secondary-color);
}


#footer .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 1rem;
}

@media screen and (max-width: 1020px) {
    #footer .container {
        flex-direction: column;
        gap: 20px;
    }

    #footer ul {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {


    footer p {
        font-size: 0.875rem;
        text-align: center;
    }
}