<p style="color: green"><%= notice %></p>

<h1>Survey questions</h1>

<div id="api_v1_survey_questions">
  <% @api_v1_survey_questions.each do |api_v1_survey_question| %>
    <%= render api_v1_survey_question %>
    <p>
      <%= link_to "Show this survey question", api_v1_survey_question %>
    </p>
  <% end %>
</div>

<%= link_to "New survey question", new_api_v1_survey_question_path %>
