
.button{
    background-color: #F36B3B;
    color: #FFF;
    border: none;
    padding: 30px 70px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 700;

    cursor: pointer;
}

.newsletter .button{
    width: 100%;
}

.btn:hover{
    background-color: #e06031;
}

@media (max-width: 768px) {
    .button{
        padding: 12px 50px;
        font-size: 16px;
    }
}