.button {
    width: auto;
    text-decoration: none;
}

.button__primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: fit-content;
    width: 100%;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

.button__primary p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--white);
}

.button__primary span {
    width: auto;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 8px;
    padding: 15px;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .button__primary {
        padding: 15px;
        max-width: 100%;
    }

    .button__primary p {
        font-size: 1rem;
        word-break: break-all;
    }

    .button__primary span {
        font-size: 0.875rem;
        padding: 7px;
    }
}

@media screen and (max-width: 390px) {
    .button__primary {
        gap: 15px;
    }

    .button__primary p {
        font-size: 0.875rem;
    }

    .button__primary span {
        font-size: 0.65rem;
    }
}