.section_disclaimer-contaier {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  display: flex;
  margin-bottom: -1px;
}

.section_disclainer-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.section_disclainer-container-text h1 {
  margin: 10px 0;
  line-height: 1.5rem;
}

.section_disclainer-container-text-heading {
  font-weight: 800;
}

.section_disclainer-container-text p {
  font-size: 14px;
  line-height: 1rem;
}

@media screen and (max-width: 768px) {
  .section_disclainer-container-text {
    width: 100%;
  }
}
