html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #002147;
  --secondary-color: #f36b3b;
  --secondary-color-darker: #e86231;
  --accent-color: #a8dadc;
  --black: #000000;
  --white: #ffffff;
}

/* General Styles
================================= */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-family: 'Outfit', 'sans-serif';
  font-size: 64px;
  font-weight: 800;
  color: var(--primary-color)
}

h3 {
  font-family: 'Outfit', 'sans-serif';
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-color)
}

.color-secondary {
  color: var(--secondary-color);
}

p {
  font-family: 'Outfit', 'sans-serif';
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mb-2 {
  margin-bottom: 20px;
}