.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 50px;
  text-align: center;
}

.container_image {
  height: 50%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.container_text {
  margin-bottom: 80px;
}