
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 30px 0;
}

#navbar .navbar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secondary-color);
}

#navbar .navbar__logo h1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

#navbar .navbar__logo h1 a {
    color: var(--white);
    text-decoration: none;
}


#navbar .navbar__menu-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar .navbar__menu-main ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    list-style: none;
}

#navbar .navbar__menu-main li {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

#navbar .navbar__menu-main li a {
    color: var(--white);
    text-decoration: none;
}

#navbar .navbar__menu-main li a:hover {
    color: var(--secondary-color);
}